*{
    padding: 0;
    margin: 0;
}



html {
    background-color: rgb(255, 255, 255);
    
}

body {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}



li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif
    font-size large;
    text-align: center;
    color: #000000;
    size: 2cm;
    
}

a:link {
    margin-left:  18px;
    margin-right: 18px;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a:visited {
    color: black
}

a:hover {
    color: black;
}

a:active {
    color: black;
}






.container{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 50px;
}

.photo-gallery{
    display: flex;
    gap: 5px
    
    
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img{
    width: 100%;
    height: 100%;
    border: 5px;
    object-fit: cover;
    margin-top: 5px;
}




#logo {
    height: 64px;
    position: absolute;
    left: 20px;
  }
  




  header {
    position: fixed;
    text-align: right;
    width: 100%;
    font-size: 200%;
    top:  0;
    left: 0;
    background-color: #ffffff;
    padding-bottom: 20px;
  }
  
nav {
    float: right;
    margin-right: 77px;
}




  
  .img{
    position: fixed;
    left: 0; 

    
    margin-left: 77px;
  }
  









 
  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
